<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}">
</head>
<body>
	<header th:insert="~{fragments/fragments :: navbar}">
		
	</header>
    
	<main class="container">
		<div class="row">
			<div class="col-12">	
				
				<th:block>
					<h1 class="py-4 mb-2 text-center">
						GESTIONE DEI TICKET
					</h1>
						
								<form th:action="@{/tickets/search}" method="GET" class="col-12 p-4">
										<div class="form-group my-3 row">
											<div class="col-md-8">
												<input name="title" type="text" class="form-control me-2 w-100" id="title-input"
													placeholder="cerca tickets per titolo">
											</div>
											<div class="col-4 ps-0">
												<button type="submit" class="btn btn-success w-100">Cerca Tickets</button>
											</div>
										</div>
								</form>
								<!-- Bottone Creazione -->
								<div class="mb-3 d-flex pe-5">
									<a th:href="@{/create}" class="ms-auto me-5 btn btn-lg btn-primary">Aggiungi nuovo ticket</a>					
								</div> 
								
					<table class="table table-striped table-hover mt-2">
										<thead>
											<tr>
												<th>ID</th>
												<th>Titolo</th>
												<th>Categoria</th>
												<th>Stato</th>
												<th>Creato il</th>
												<th>Aggiornamenti</th>
												<th class="text-center">Azioni</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="ticket : ${tickets}">
												<td th:text="${ticket.id}" class="fs-3"></td>
												<td th:text="${ticket.title}" class="pt-3"></td>
												<td th:text="${ticket.category}" class="pt-3"></td>
												<td th:text="${ticket.status}" class="pt-3"></td>
												<td th:text="${ticket.getCreatedAt()}" class="pt-3"></td>
												<td th:text="${ticket.getUpdatedAt()}" class="pt-3"></td>
												<td class="text-center">
													<a class="btn btn-sm btn-primary m-1"
														th:href="@{'/tickets/show/{id}'(id=${ticket.id})}"
														role="button">Dettagli</a>
													<a class="btn btn-sm btn-warning m-1"
														th:href="@{'/tickets/edit/{id}'(id=${ticket.id})}"
														role="button">Modifica</a>  
													  	
												</td>
											</tr>
										</tbody>
					
				</th:block>	
				
				<!--
				<th:block th:unless="${pizze.size() > 0}">
					<h3 class="py-5 text-center">
						No pizza has been found with query <strong>[[ ${pizzaName} ]]</strong>
					</h3>
				</th:block>
				               -->
			</div>	
		</div>
		
	</main>
	
	<footer th:replace="~{fragments/fragments :: footer}"></footer>
</body>
</html>
