<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/fragments :: head(title='Homepage')}">
	</head>
<body>
	<header th:insert="~{fragments/fragments :: navbar}">
			
	</header>
	<main>
		<div class="d-flex justify-content-center">
			<div class="card mx-4 my-4" style="width: 25rem;">
			  <!--<img src="@{/img/operatore1.png}" class="card-img-top" alt="Operatore1">-->
			  <div class="card-body text-center">
			    <h5 class="card-title">Gestione Ticket</h5>
			    <p class="card-text">Benvenuto, per info clicca il bottone</p>
			    <a th:href="@{/tickets}" class="btn btn-primary d-flex justify-content-center">Area Ticket</a>
			  </div>
			</div>
		</div>
	</main>
	<footer>
		<th:block th:replace="~{fragments/fragments :: footer}"></th:block>
	</footer>
</body>
</html>
