<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/fragments :: head}">
	</head>
<body>
	<header th:insert="~{fragments/fragments :: navbar}">
			
	</header>
	<main>
		<h1>INDEX</h1>
		<div>	
			<div class="card" style="width: 18rem;">
			  <img src="/src/main/resources/static/img/operatore1.png" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
	</main>
	<footer>
		<th:block th:replace="~{fragments/fragments :: footer}"></th:block>
	</footer>
</body>
</html>



